div {
    width:200px;
    height: 200px;
    background-color: red;
    animation-name: box;
    animation-duration: 1s;  
    
}
 
@keyframes box {
    0% { background-color: red;}
    50% { background-color: yellow;}
    100% {background-color: green;}
}